.button {
  border-radius: 29px;
  font-family: inherit;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border: none;
  color: var(--primary-text-color);

  font-style: normal;
  font-weight: 400;
}

.small {
  font-size: 16px;
  padding: 10px 25px;
}

.big {
  font-size: 15px;
  text-transform: uppercase;
  padding: 20px 60px;
  box-shadow: 0px 10px 40px 0px rgba(255, 255, 255, 0.16);
  width: 100%;
  max-width: 248px;
  margin: 0 auto;
}

.accent {
  background-color: var(--accent-color);
}

.accent:hover {
  background-color: var(--accent-hover-color);
}
