.input-wrapper {
  position: relative;
}

.seacrh__icon {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translate(0, -50%);
  fill: var(--secondary-text-color);
}

.input {
  font-size: 14px;
  line-height: normal;
  font-weight: 400;
  font-family: inherit;
  color: var(--primary-text-color);
  background: none;
  outline: none;
  background-color: var(--primary-dark-color);
  border: 1px solid var(--separator-color);
  border-radius: 10px;
  box-shadow: 0px 0px 45px 0px rgba(124, 124, 124, 0.25);
  padding: 16px 30px 16px 44px;
  min-width: 200px;

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input:focus {
  box-shadow: 0px 0px 20px 0px var(--accent-color);
}

.input__title {
  font-size: 32px;
}

.invalid {
  border: 1px solid red;
  border-radius: 2px;
}
